


html, body{
    height: 100%;
    margin: 0 8px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    text-align: center;
    display: grid;
    grid-template-rows: min-content min-content auto;
}



div#mail{
    border: thin solid black;
    background-color: beige;
    position: relative;
    top: 0px;
    left: 0px;
}

div#keyboard{
    position: relative;
    top:0px;
    left: 0px;
    border: thin solid black;
}

.letter{
    font-size: 6em;
    position: absolute;
    border: thin dotted black;
}



@media screen and (min-width: 450px) {
    
.letterkeyb{
    display: none;
    position: relative;
    font-size: 5em;
    pointer-events: none;
   
}

}

@media screen and (max-width: 450px) {
    body {
      background-color: rgb(252, 190, 238);
    }

    .letterkeyb{
        display: inline-block;
        position: relative;
        font-size: 1em;
        border: 1px solid black;
        margin: 1px;
        padding: 0px 7px;
        background-color: rgb(240, 237, 232);
        pointer-events: auto;
        
    }

    .letterkeyb :hover{
        background-color: rgb(140, 235, 225);
    }
    
  }



