
html, body{
    height: 100%;
    margin: 0 8px;
}

body{
    
    display:flow-root;
    grid-template-rows: min-content min-content auto;
}

div{
    display: inline-block;
    width: 400px;
    height: 400px;
    background: #eed3df;
    position: relative;
    border: thin solid black;
    margin: 10px;

}

button{
    position:absolute;
 
}

span{
    height:50px;
    width: 150px;
    background-color:lightblue;
    border: thin solid black;
    position:absolute;
    pointer-events: none;
    box-sizing: border-box;
  
   
}
